body {
    font-family: Arial, sans-serif;
    background-color: black;
}
section{
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    padding-right: 50px;
    margin-bottom: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}
.logo{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
    margin-left: 30px;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.option-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

label {
    margin: 0 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.logo{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
    margin-left: 0px;
}
ul{
    display: flex;
    list-style: none;
  }
nav{
    display: flex;
    background-color:white ;
    font-size: 36px;
    color: #3498db;
    text-transform: uppercase;
    transform: translateZ(25px);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  li{
    margin-right:15px ;
  }
  .middle{
    margin-left: 0;
    margin-right: 200px;
    padding-left: 10px 10px;
    padding-right: 10px 10px;
    font-size: 150%;
    margin-top: 35px;
  }
  .right{
    display: flex;
  }

